{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
<header>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">
      <img src="{{ url_for('static', filename='svg/logo.svg') }}" alt="">
    </label>
    <ul>
      <li><a class="active" href="#">поиск</a></li>
      <li><a href="#">о нас</a></li>
      <li><a href="#">контакты</a></li>
    </ul>
  </nav>
  <section></section>
</header>

<div class="BoxContainer">
  <table class="elementsContainer">
    <form action="/" method="POST">
    <tr>
      <td>
        <input type="text" placeholder="поиск" class="search" name="req" id="req">
      </td>
      <td>
          <label>
            
            <button type="submit" style="border: 0; background-color: white;">
              <img src="{{ url_for('static', filename='svg/search.svg') }}" alt="">
            </button>
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> -->
          <!-- <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> -->
        
          </label>
        </a>
      </td>
    </tr>
    </form>
  </table>
</div>

{% endblock %}
